/*@font-face {font-family: Arx Cyr; src: url(../fonts/Arx Cyr.ttf);}*/
/* Buttons and arrows */
/*#head .lead{color: #eaeaea ;}
.tagline{ color: #000;font-size: 20px;}
.about-app {
	padding-bottom: 70px;
}
*/